## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography formats (BibTeX / biber):
*.bbl
*.blg
*.brf
*.bcf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Package-specific auxiliary files:
# glossaries:
*.acn *.acr *.alg *.glg *.glo *.gls *.gxg *.gxs *.ist *.history
# amstex / amsmath:
*.ams
# beamer:
*.nav *.snm *.vrb
# backref:
*.brf
# listings:
*.lol
# makeidx:
*.idx *.ind *.ilg
# minted:
_minted*
*.pyg